/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.wrap {
	max-width: 900px;
}

#main {
	> article {
		aside {
			width: 320px;
			float: right;
		}

		section {
			width: 540px;
		}
	}
}

.article-header {
	width: 540px;
}

.entry-content {

	img {
		width: 540px;
	}
}

.post-social {
	a {
		&.dokul {
			width: 312px;
			height: 60px;
			font-size: 32px;
			line-height: 60px;
		}
	}
}