/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
.small {
	#menu {
		margin-top: -1px;
	}
	#logo {
		font-size: 23px;
	}
}

.goup {
	right: 20px;
}

#container {
	margin-top: 42px;
}

#logo {
	font-size: 36px;
}

#menu {
	display: none;
	margin-top: 7px;

	> li > a {
		padding: 3px 5px;
		font-size: 12px;
	}
}

.social p {
	width: 100%;
	margin-bottom: 5px;
	text-align: left;
}

.wrap {
	max-width: 100%;
}

#main {
	> article {
		aside {
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
		section {
			width: 100%;
		}
	}
}

.article-header {
	width: 100%;

	h1 {
		float: none;
	}

	.byline {
		float: none;
		margin-top: 10px;
	}
}

.entry-content {
	img {
		width: 100%;
	}
}

.post-social {
	a {
		width: 60px;
		height: 60px;
		line-height: 50px;
		font-size: 40px;

		&.dokul {
			width: 252px;
			height: 60px;
			line-height: 55px;
		}
	}
}