/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #000;
}

@font-face {
	font-family: 'turkgif';
	src:url('fonts/turkgif.eot');
	src:url('fonts/turkgif.eot?#iefix') format('embedded-opentype'),
		url('fonts/turkgif.woff') format('woff'),
		url('fonts/turkgif.ttf') format('truetype'),
		url('fonts/turkgif.svg#turkgif') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'turkgif';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-tumblr:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-bubbles:before {
	content: "\e604";
}
.icon-arrow-up:before {
	content: "\e606";
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 900px;
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	/*&:hover, &:focus {
		color: $link-hover;
	}*/

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
}

h2, .h2 {
	font-size: 1.75em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color:$turk-green;
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;

	a {
		text-decoration: none;
	}
}

#logo {
	float: left;
	font-size: 72px;
	font-weight: 500;
	text-align: left;
	line-height: 1;

	@include transition(all 0.3s ease-in-out);

	&:hover {
		background-color: darken($turk-green, 3%);
	}

	a {
		display: inline-block;
		color:$white;
		padding: 5px 10px;
	}

	span {
		color:$turk-blue; 
	}
}

#menu {
	position: relative;
	display: inline-block;
	float: right;
	line-height: 2;
	padding-right: 10px;
	margin-top: 20px;
	
	li {
		display: inline-block;
	}

	> li a {
		margin-left: 5px;
		padding: 3px 10px;
		@include transition(all 0.3s ease-in-out);

		&:hover {
			background-color: darken($turk-green, 10%);
		}

		background-color: darken($turk-green, 5%);
	}

	> li > a {
		padding: 11px 20px;
		font-size: 19px;
		font-weight: 400;

		span {
			vertical-align: middle;
		}
	}

	> li:not(:last-child) {
		display: inline-block;
	}

	a {
		color: $white;
	}
}

.goup {

	@include transition(all 0.3s ease-in-out);

	&:hover {
		color: darken($white, 20%);
	}

	color: $white;
	display: none;
	position: absolute;
	text-align: center;
	font-size: 35px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}



#more-tags-area {
	display: block;
	opacity: 0; 
    height: 0;
    overflow: hidden;

    z-index: 3;
	width: 400px;
	top: 42px;
	right: 10px;
	padding: 10px;
	position: absolute;
	background-color: rgba($white, 0.6);

	&.open {
		opacity: 1;
   		height: auto;
	}
}

.social {
	text-align: right;
	border-bottom: 1px solid lighten($turk-blue, 60%);
	padding: 10px 10px;

	> div {
		display: inline-block;
	}

	p {
		margin: 0;
		padding-top: 3px;
		float: left;
		color: $turk-blue;
	}
}

#container {
	margin-top: 82px;
}

.small {
	#logo {
		font-size: 30px;
	}

	#menu {
		margin-top: 3px;
		
		> li > a {
			padding: 3px 6px;
			font-size: 14px;
		}
	}

	.goup {
		display: block;
	}
}

#main {
	padding-bottom: 80px;
	> article {
		border-bottom: 1px solid lighten($turk-blue, 60%);
		padding-bottom: 2em;
		margin-top: 2em;
 
		section {
			width: 540px;
			float: left;
		}

		aside {
			width: 320px;
			float: right;
		}
	}
}

#inner-content {
	padding: 0 10px;
}

.article-header {
	width: 540px;
	margin-bottom: 10px;

	h1 {
		float: left;
		width: 440px;
		margin: 0;
		
		a {
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background-color: darken($turk-green, 10%);
			}

			background-color: $turk-green;
			color: $white;
			padding: 5px;
		}
	}

	.byline {
		float: right;
		color: lighten($turk-blue, 50%);
	}
}

.tags {
	margin-left: -3px;
	
	a {
		@include transition(all 0.3s ease-in-out);

		&:hover {
			background-color: darken($turk-green, 10%);
		}

		display: inline-block;
		background-color: $turk-green;
		color: $white;
		padding: 3px;
		margin: 3px;
		text-decoration:none;
	}
}

.entry-content {

	img {
		width: 540px;
		height: 100%;
		//opacity: 0;
		transition: opacity .3s ease-in;
	}
}

.post-social {
	a {
		@include transition(all 0.3s ease-in-out);

		&:hover {
			color: $white;
			background-color: $turk-blue;
		}

		display: inline-block;
		text-decoration: none;
		text-align: center;
		color: rgba($turk-blue, 0.5);
		border: 1px solid lighten($turk-blue, 65%);
		margin-bottom: 5px;

		.icon {
			vertical-align: middle;
		}

		&.dokul{
			width: 312px;
			height: 60px;
			font-size: 32px;
			line-height: 60px;
			font-weight: 500;
		}
	}

	> a {
		width: 75px;
		height: 75px;
		line-height: 65px;
		font-size: 50px;
	}
}

.vote-container {
	display: inline-block;
	width: 60px;
	color: rgba($turk-blue, 0.5);
	vertical-align: middle;
	margin-top: -18px;

	a {
		height: 28px;
		line-height: 25px;
		font-size: 30px;
	}
}

.vote-down {
	margin-top: 4px;
}

.post-comments {
	margin-top: 15px;
	padding: 10px;
}

.pagination {
	width: 100%;
	text-align: center;
	ul {
		display: inline-block;
	}
	li {
		display: inline-block;
		margin: 0 3px;

		a,span {
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background-color: darken($turk-green, 10%);
			}

			color: $white;
			background-color: $turk-green;
			padding: 2px 6px;
			text-decoration: none;
		}
	}
}

#infscr-loading {
	width: 540px;
	height: 40px;
	padding: 10px;
	font-weight: 300;
	font-size: 24px;
	line-height: 1;
	background-color: $turk-green;
	color: $white;
}