/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 48, ../scss/_grid.scss */
.last {
  float: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/* line 17, ../scss/_481up.scss */
.header {
  height: 50px;
}
/* line 20, ../scss/_481up.scss */
.header.small {
  height: 42px;
}

/* line 25, ../scss/_481up.scss */
.goup {
  right: 20px;
}

/* line 29, ../scss/_481up.scss */
#container {
  margin-top: 42px;
}

/* line 33, ../scss/_481up.scss */
#logo {
  font-size: 36px;
}

/* line 37, ../scss/_481up.scss */
#menu {
  display: none;
  margin-top: 7px;
}
/* line 41, ../scss/_481up.scss */
#menu > li > a {
  padding: 3px 5px;
  font-size: 12px;
}

/* line 47, ../scss/_481up.scss */
.social p {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

/* line 53, ../scss/_481up.scss */
.wrap {
  max-width: 100%;
}

/* line 59, ../scss/_481up.scss */
#main > article aside {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
/* line 64, ../scss/_481up.scss */
#main > article section {
  width: 100%;
}

/* line 70, ../scss/_481up.scss */
.article-header {
  width: 100%;
}
/* line 73, ../scss/_481up.scss */
.article-header h1 {
  float: none;
}
/* line 77, ../scss/_481up.scss */
.article-header .byline {
  float: none;
  margin-top: 10px;
}

/* line 84, ../scss/_481up.scss */
.entry-content img {
  width: 100%;
}

/* line 90, ../scss/_481up.scss */
.post-social a {
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 40px;
}
/* line 96, ../scss/_481up.scss */
.post-social a.dokul {
  width: 252px;
  height: 60px;
  line-height: 55px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/* line 14, ../scss/_768up.scss */
.header {
  height: 82px;
}
/* line 17, ../scss/_768up.scss */
.header.small {
  height: 42px;
}

/* line 22, ../scss/_768up.scss */
#container {
  margin-top: 82px;
}

/* line 26, ../scss/_768up.scss */
#logo {
  font-size: 72px;
}

/* line 30, ../scss/_768up.scss */
#menu {
  margin-top: 20px;
}
/* line 33, ../scss/_768up.scss */
#menu > li > a {
  padding: 11px 20px;
  font-size: 19px;
}

/* line 39, ../scss/_768up.scss */
.social p {
  width: auto;
  margin-bottom: 0;
}

/* line 44, ../scss/_768up.scss */
.wrap {
  max-width: 768px;
}

/* line 50, ../scss/_768up.scss */
#main > article aside {
  width: 160px;
}
/* line 53, ../scss/_768up.scss */
#main > article section {
  width: 540px;
}

/* line 60, ../scss/_768up.scss */
.article-header h1 {
  float: left;
}
/* line 64, ../scss/_768up.scss */
.article-header .byline {
  float: right;
}

/* line 71, ../scss/_768up.scss */
.entry-content img {
  width: 540px;
}

/* line 77, ../scss/_768up.scss */
.post-social a {
  width: 75px;
  height: 75px;
  line-height: 65px;
  font-size: 50px;
}
/* line 83, ../scss/_768up.scss */
.post-social a.dokul {
  width: 154px;
  height: 60px;
  font-size: 25px;
  line-height: 60px;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 12, ../scss/_1030up.scss */
.wrap {
  max-width: 900px;
}

/* line 18, ../scss/_1030up.scss */
#main > article aside {
  width: 320px;
  float: right;
}
/* line 23, ../scss/_1030up.scss */
#main > article section {
  width: 540px;
}

/* line 29, ../scss/_1030up.scss */
.article-header {
  width: 540px;
}

/* line 35, ../scss/_1030up.scss */
.entry-content img {
  width: 540px;
}

/* line 42, ../scss/_1030up.scss */
.post-social a.dokul {
  width: 312px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
